@font-face {
  font-family: 'DMSans-Bold';
  font-weight: 700;
  font-style: normal;
  src: local('DMSans-Bold'),
       url('./fonts/DMSans-Bold.woff'),
       url('../fonts/DMSans-Bold.woff2');
}

@font-face {
  font-family: 'DMSans-Medium';
  font-weight: 500;
  font-style: normal;
  src: local('DMSans-Medium'),
       url('../fonts/DMSans-Medium.woff'),
       url('../fonts/DMSans-Medium.woff2');
}

@font-face {
  font-family: 'Rubik-Bold';
  font-weight: 700;
  font-style: normal;
  src: local('Rubik-Bold'),
       url('../fonts/Rubik-Bold.woff'),
       url('../fonts/Rubik-Bold.woff2');
}

@font-face {
  font-family: 'Rubik-Medium';
  font-weight: 500;
  font-style: normal;
  src: local('Rubik-Medium'),
       url('../fonts/Rubik-Medium.woff'),
       url('../fonts/Rubik-Medium.woff2');
}

@font-face {
  font-family: 'Rubik-Regular';
  font-weight: 400;
  font-style: normal;
  src: local('Rubik-Regular'),
       url('../fonts/Rubik-Regular.woff'),
       url('../fontsRubik-Regular.woff2');
}